:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

#container {
    display: grid; 
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), minmax(0 , 2fr));
    
}


.grid-item {
   
    border: 1px solid #bd0a0a;
    text-align: center;
    padding: 1em;
    
}
